* {
    margin: 0;
}

body {
    background-color: rgba(161, 0, 0, 0.3);
}

h1 {
    color: rgba(252, 252, 252, 1);
}

main {
    background-color: rgba(252, 252, 252, 1);
    max-width: 1280px;
}

h2 {
    color: rgba(161, 0, 0, 1);
}