* {
	margin: 0;
}

html {
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: rgba(161, 0, 0, 0.3);
}

h1 {
	font-family: "Caveat", cursive;
	font-size: 50px;
	color: rgba(252, 252, 252, 1);
	text-align: center;
}

main {
	background-color: rgba(252, 252, 252, 1);
	margin: auto;
	max-width: 1280px;
}

.main-image {
	width: 100%;
	max-width: 1280px;
	height: 500px;
	display: block;
	margin: 0 auto;
	object-fit: cover;
	/* beskär bilden snyggt då proportionerna inte matchar */
}

.recipe-container {
	padding: 48px 48px 64px 48px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.recipe-header {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.recipe-subtitel {
	padding: 16px;
	background-color: rgba(235, 235, 235, 1);
}

h2 {
	color: rgba(161, 0, 0, 1);
	font-size: 28px;
	font-weight: 700;
}

section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

h3 {
	font-size: 24px;
	font-weight: 700;
}

ul,
ol {
	padding-left: 24px;
	line-height: 2;
}

.custom-bullets li::marker {
	font-weight: 300;
}