* {
	margin: 0;
}

html {
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: rgba(161, 0, 0, 0.3);
}

h1 {
	color: rgba(252, 252, 252, 1);
}

main {
	background-color: rgba(252, 252, 252, 1);
	margin: auto;
	max-width: 1280px;
}

.main-image {
	width: 100%;
	max-width: 1280px;
	height: 500px;
	display: block;
	margin: 0 auto;
	object-fit: cover;
	/* beskär bilden snyggt då proportionerna inte matchar */
}

.recipe-container {
	padding: 48px 48px 64px 48px;
}

h2 {
	color: rgba(161, 0, 0, 1);
	font-size: 28px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 700;
}